@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

.ruthie-regular {
    font-family: "Ruthie", cursive;
    font-weight: 800;
    font-style: normal;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0f2fe;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #60a5fa;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #93c5fd;

}